html {
	background-color: black;
	color: white;
	background-image: url("../images/2355702.jpg");
	background-size: 100% 100%;
	background-repeat: repeat-y;
	background-attachment: fixed;

}

body {

	



	margin:1%;
	padding:1%;
	font-size:150%;
}

h1 {
	font-size: 2em; 
	font-weight: bold;
}

main {
	display: block;
  	position: relative;
	transition: transform .3s ease-in-out;
	text-align: center;

}
.skip {
	top: 0;
	left: 0;
	position: absolute;
	font-size: 15px;
	color: white;
	text-decoration: none;
}
.skip:hover {
	text-decoration: underline;
	color: blue;
}

div {
	display: inline-block;
	border: 3px solid white;
	height: auto;
	width: 370px;
	margin-bottom: 3px;
	margin-top: 3px;
	border-radius: 10px;	
}

div:hover {
	filter: contrast(160%)
}

img{
    height: 300px;
    width:300px;
    padding: 25px;
    border-radius: 10px;
    margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	object-fit: cover;
	border-radius: 10px;
}

img:hover {
	filter: contrast(160%)
}

h2{
	font-size: 2em; 
	font-weight: bold;
	margin: 10px;
}

p {
    padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-left: 25px;
	margin-bottom: 25px;
	margin-right: 25px;
	width: 300px;
	text-justify: auto;
	text-align: justify;
	font-size: 15px;
}

.name {
	font-weight: bold;
	padding-bottom: 0;
	margin-bottom: 5px;
	font-size: 0.83em;
	text-align: left;
	margin-left: 25px;
	padding-left: 10px;
}

h1 {
	color: white;
	font-family: Graphik, sans-serif;
	font-size: 60px;
	text-align: center;
	top: 100px;
	line-height: 3;
	
}

li{
	color: white;
	padding:10px;
	width:25%;
	display: inline-block;
	width: 20%;
}

nav {
	text-align: center;
	position: absolute;
	font-family: Graphik,sans-serif;
	
	color: white;
	height: 60px;
    max-width: 100%;
    left: 0;
    right: 0;
    top: 20px;
    margin: 0 auto;
    z-index: 1;
    transition: unset;
}

.activenavlink {
	background-color: white;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	border-radius: 5px;
}

.activenavlink:hover {
	background-color: #918F8E;
  }

.navlink {
	color: white;
	text-decoration: none;
}

.navlink:hover {
	color: black;
}